[Unit]
Description=WebVirtMgr NoVNC proxy

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/usr/bin/python /var/www/webvirtmgr/console/webvirtmgr-console

[Install]
WantedBy=multi-user.target
