[Unit]
Description=WebVirtMgr Gunicorn Server
 
[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/webvirtmgr
ExecStart=/usr/bin/python /var/www/webvirtmgr/manage.py run_gunicorn -c /var/www/webvirtmgr/conf/gunicorn.conf.py
 
[Install]
WantedBy=multi-user.target
